@use '../../vendors/variables.scss' as *;

.connexion {
	margin-top: 20px;
	width: 343px;
	background-color: rgba(0, 0, 0, 0.2);
	height: 40%;
	border-radius: 10px;

	@media screen and (max-height: 700px) {
		height: 60%;
	}
}

.title-connexion {
	font-size: 28px;
	color: $white;
	font-weight: 300;
	padding-top: 10px;
}

p {
	font-size: 20px;
	padding-bottom: 5px;
	font-weight: 300;
}

.nomUtilisateur {
	width: 80%;
}

input[type='text'],
input[type='password'] {
	padding: 10px;
	font-size: 16px;
	border: 0px solid #ccc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	transform: translateY(0);
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.2);
}

.connexion-button {
	background-color: rgba(0, 0, 0, 0.5);
	color: $white !important;
}

label {
	color: $white;
	font-size: 18px;
	font-family: 'karla';
	font-weight: 300;
	margin-bottom: 10px;
}
