@use '../../vendors/variables.scss' as *;

h2 {
	font-size: 20px;
	font-family: 'karla';
	color: white;
}

p {
	text-align: center;
	font-family: 'karla';
	color: white;
}

.container {
	width: 60%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
