@use '../../../vendors/variables.scss' as *;

.success {
	background-color: rgba(0, 0, 0, 0.2);
}

h2 {
	color: $white;
	font-family: 'karla';
}

h3 {
	color: $white;
	font-family: 'karla';
	font-weight: 200;
}

.button-text {
	font-family: 'karla';
	font-size: 18px;
}
