@use '../../../vendors/variables.scss' as *;

footer {
	background-color: #22222241;
	color: white;
	text-align: center;

	@media screen and (max-width: 500px) {
		// padding: 20px 0;
	}
}

footer a {
	color: #ddd;
	margin: 0 10px;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.text-sm {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	color: $white;

	@media screen and (max-width: 500px) {
		font-size: 8px;
	}
}

.modalMention {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	color: $white;
	border: none;
	background-color: transparent;

	@media screen and (max-width: 500px) {
		font-size: 8px;
	}
}
