@use '../../vendors/variables.scss' as *;

.header {
	color: $white;
	font-family: 'karla', sans-serif;
	font-weight: 300;
	width: 100%;
	border-radius: 50px;
	position: absolute;
	top: 10px;
	left: 0;
	transform: translateX(0%);
}
