@use "../../../vendors/variables.scss" as *;

.language-container {
    position: relative;
    cursor: pointer;
}

.language-label {
    color: white;
    cursor: pointer;
}

.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;

    p {
        margin: 0;
        padding: 10px;
        cursor: pointer;
        color: $white;
		transition: 0.5s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
    }
}
