@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karantina:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karantina:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
h1,
h2,
h3,
a {
  font-family: "Karantina";
}

html,
body,
#root {
  height: 100%;
  background-color: #fc944a;
}

.blur-background {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.left {
  justify-content: left;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.pointNone {
  list-style-type: none;
}

.column {
  flex-direction: column;
}

.height100vh {
  height: 100vh;
}

.widthFull {
  width: 100%;
}

.heightFull {
  height: 100%;
}

.width90 {
  width: 90%;
}

.width80 {
  width: 80%;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.hidden {
  display: none;
}

.scroll {
  overflow: auto;
}

.widthAuto {
  width: auto;
}

.margin0 {
  margin-bottom: 0 !important;
}

.margin10Bottom {
  margin-bottom: 10px;
}

.padding10 {
  padding: 10px;
}

.padding20top {
  padding-top: 20px;
}

.padding20bottom {
  padding-bottom: 20px;
}

.padding10bottom {
  padding-bottom: 10px;
}

.overflow-none {
  overflow: hidden;
}

.hideScroll {
  scrollbar-width: none;
}

.relative {
  position: relative;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.padding-bottom10 {
  padding-bottom: 10xp;
}

.cache {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.cocktail-info-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  scrollbar-width: none;
}

.brightness {
  filter: brightness(0.5) drop-shadow(0px 5px 7px #3a1820);
}

.shadow-white {
  filter: drop-shadow(0px 5px 15px #f6f7ee);
}

.font300 {
  font-weight: 300;
}

.font400 {
  font-weight: 400;
}

.shadow {
  filter: drop-shadow(0px 5px 7px #3a1820);
}

.width250 {
  width: 250px !important;
}

.width280 {
  width: 280px !important;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.layout-header {
  margin-bottom: 20px;
}

.transparent {
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.karantina {
  font-family: "Karantina";
}

.yellow {
  color: #f6e27f;
}

.font26 {
  font-size: 26px;
}

.font22 {
  font-size: 22px;
}

.font20 {
  font-size: 20px;
}

.in-block {
  display: inline-block;
}

.no-resize {
  resize: none;
}

.cocktails-container {
  padding-left: 10px;
  padding-right: 10px;
}

.card-info {
  position: relative;
  width: 225px;
  height: 100px;
  background-color: rgba(58, 24, 32, 0.8);
  border-radius: 25px;
  color: #f6e27f;
  padding-left: 10px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  scrollbar-width: none;
}
.card-info h1 {
  font-family: "Didact Gothic", serif;
  font-size: 22px;
  font-weight: 600;
  color: #f6e27f;
}
.card-info h2 {
  font-family: "Didact Gothic", serif;
  font-size: 14px;
  font-weight: 100;
}
.card-info.expanded {
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .card-info.expanded {
    height: 500px;
  }
}
.card-info.card-info.collapsed {
  width: 225px;
  height: 100px;
  transition: none;
}

.card-image {
  width: 94px;
  height: 94px;
  object-fit: cover;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}
.card-image.expanded {
  width: 100%;
  transform-origin: left;
  align-items: center !important;
  justify-content: center !important;
}
.card-image.card-image.collapsed {
  width: 94px;
}

.design-card-expanded {
  opacity: 1;
  max-height: 100%;
  transition: opacity 2s ease;
  font-size: 26px;
  font-weight: 500;
  overflow: auto;
}
.design-card-expanded p {
  font-family: "Didact Gothic", serif;
}

.deco {
  font-size: 26px;
  color: #f6e27f;
  font-family: "Karantina";
}

.card-indications {
  color: #f6f7ee;
  font-size: 22px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.title-card-cocktail {
  position: absolute;
  top: 30%; /* Centrer verticalement */
  left: 25%; /* Centrer horizontalement */
  transform: translate(0%, 0%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.expanded .title-card-cocktail {
  animation: fadeIn 0.5s ease-in-out 0.3s forwards;
}