@use '../../vendors/variables.scss' as *;

.connexion {
	margin-top: 20px;
	width: 343px;
	height: 40%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;

	@media (max-height: 700px) {
		height: 60%;
	}
}

p {
	color: $white;
	font-size: 18px;
	font-family: 'karla';
}

.title-connexion {
	font-size: 28px;
	color: $white;
	font-weight: 300;
	padding-top: 10px;
	text-align: center;
}

h1 {
	color: $yellow;
}

.nomUtilisateur {
	width: 80%;
}

input[type='text'],
input[type='password'] {
	padding: 10px;
	font-size: 16px;
	border: 0px solid #ccc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.696);
	transform: translateY(0);
	z-index: 10;
}

.connexion-button {
	background-color: rgba(0, 0, 0, 0.5);
	color: $white !important;
}

.inscription-link {
	position: absolute;
	top: 90%;
	right: 130px;

	@media (max-height: 700px) {
		margin-top: 10px;
	}
}
