@use '../../../vendors/variables.scss' as *;

.button {
	width: 160px;
	height: 49px;
	border-radius: 10px;
	border: 1px solid transparent;
	background-color: $brown;
	color: $yellow;
	font-family: Karantina;
	font-size: 24px;
	filter: drop-shadow(0px 5px 7px #3a1820);
}

.button-user-svg {
	width: 20px;
	height: 20px;
	background-color: $caramel;
	border: none;
	fill: $yellow;
	filter: none;
}

.button-star-svg {
	width: 20px;
	height: 20px;
	background-color: $brown;
	border: none;
	fill: $yellow;
	filter: none;
}
