@use '../../../vendors/variables.scss' as *;

.button {
	width: 160px;
	height: 49px;
	border-radius: 10px;
	border: 1px solid transparent;
	background-color: rgba(0, 0, 0, 0.294);
	color: $white;
	font-family: 'karla', sans-serif;
	font-size: 24px;
}

.button-star-svg {
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: none;
	fill: $white;
	filter: none;
	top: 5px;
	right: 10px;
}
