@use '../../vendors/variables.scss' as *;

.container {
	margin-top: 40px;
}

h2 {
	color: $white;
	font-size: 38px;
	font-family: 'karla';
	font-weight: 200;
}

.button-user-space {
	font-family: 'karla' !important;
	font-size: 20px !important;
}

.choicecontainer {
	width: 60%;
	overflow: auto;
	@media (max-width: 400px) {
		overflow: auto;
		width: 100%;
	}
}

.container {
	overflow-y: auto;
}

.modal-container {
	max-height: 80vh;
	overflow-y: auto;
	border-radius: 10px;
}
