@use '../../vendors/variables.scss' as *;

.container {
	margin-top: 40px;
}

h2 {
	color: $white;
	font-size: 38px;
	font-family: 'karla';
	font-weight: 200;
}

.button-user-space {
	font-family: 'karla' !important;
	font-size: 20px !important;
}

.choicecontainer {
	width: 343px;
}

.container {
	overflow-y: auto;
}
